@import url(/src/CSS/header.css);
@import url(/src/CSS/main.css);
@import url(/src/CSS/footer.css);


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #111; /* Fundo levemente mais claro */
    color: #fff;
}

.container {
    max-width: 1024px;
    margin: 0 auto; /* Centraliza horizontalmente */
    padding: 0 20px; /* Adiciona espaçamento interno nas laterais */
}




/* Responsividade */

@media (max-width: 1024px) {
    .hero h1 {
        font-size: 2.5em;
    }

    .card {
        margin: 10px auto;
    }

    .cards-container {
        justify-content: center;
    }
}

@media (max-width: 768px) {
    .hero h1 {
        font-size: 2em;
    }

    nav {
        padding: 0 10px;
    }

    .nav-links {
        display: none;
    }

    .button {
        padding: 8px 16px;
    }

    .cards-container {
        flex-direction: column;
        align-items: center;
    }

    .carousel img {
        width: 600px;
        height: 600px;
    }
}

@media (max-width: 489px) {
    .hero h1 {
        font-size: 1.8em;
    }

    .hero p {
        font-size: 1em;
    }

    nav {
        height: 50px;
    }

    .logo img {
        height: 50px;
    }

    .button {
        padding: 6px 12px;
        font-size: 0.9em;
    }

    .card {
        max-width: 90%;
        margin: 10px auto;
    }

    .carousel img {
        width: 600px;
        height: 600px;
    }

    form {
        padding: 15px;
    }
}
